<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <title>@@title</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <link rel="icon" href="img/favicons/icon.ico">
  
  <meta name="theme-color" content="#444a5a">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/build.min.css">


</head>

<body class="@@bodyClass">
  <div class="wrapper @@wrapperClass">
    @@include('modules/@@header')
    @@include('pages/@@page')
  </div>
  @@include('modules/@@footer')
  @@include('modules/@@modals')

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery/jquery.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="js/build.min.js"></script>
</body>
</html>